<div class="container-fluid" *ngIf="!isLoggedIn">
<form name="user_form">

  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="text"
    name="username"
    placeholder="Username"
    required
    #username class="form-control" >
  </div>

  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password"
    name="password"
    placeholder="Password"
    required
    #password
 class="form-control" >
  </div>
  <br>
  <button type="button" class="btn btn-primary" (click)="Login(username,password)">Login</button>

  <!-- <input type="button" class="btn btn-default"  value="login"/> -->
</form>
</div>
<div *ngIf="isLoggedIn">
  <h3 style="color: #ad64e9;">Welcome  {{loggedUser}}... </h3>
</div>

